html {
  height:100%;
}

body {
  background-size: cover;
  display: flex;
  flex-direction: row;
  height:100%;
  overflow: hidden;
  width: 100%;
}

h1 {
  font-family: 'Barriecito', cursive;
  font-size: 100px;
  margin: -38px;
  padding-top: 74px;
}

h2 {
  font-family: 'Architects Daughter', cursive;
}

h3 {
  font-family: 'Barriecito', cursive;
  font-size: 40px;
}

button {
  background-color: black;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  padding: 10px;
}

.color-random {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 73%;
}

.saved-palettes {
  align-items: center;
  border-left: solid black 2px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 27%;
}

.palette-actions {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 71px;
  width: 100%;
}

.title-box {
  display: flex;
  justify-content: center;
}

.color-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.box-format {
  margin: 10px;
}

.color-format {
  border: black solid 5px;
  border-radius: 5px;
  cursor: pointer;
  height:12vw;
  width:12vw;
}

.mini {
  border: black solid 2px;
  border-radius: 5px;
  height: 35px;
  width: 35px;
}

.mini-palette {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}

.hex-and-lock {
  align-content: stretch;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: -20px;
  padding-top: 5px;
  padding-right: 30px;
  padding-left: 30px;
}

.display-saved-palettes {
  height: 100%;
  width: 100%;
}

.trashcan {
  cursor: pointer;
  margin-top: 7px;
}

.hidden {
  display: none;
}
